    @charset "UTF-8";
    body {
        background-color: rgba(0, 0, 0, 0.911);
    }
    
    h1 {
        color: white;
        text-align: center;
    }
    
    h2 {
        color: white;
        text-align: center;
    }
    
    h3 {
        color: white;
        text-align: center;
    }
    
    p {
        color: white;
        text-align: center;
        font-size: 20px;
        font-style: italic;
    }

    iframe {
        display: block;
        width: 100%;
        max-width: 900px;
        height: 360px;
        margin: 20px auto;
        border: none;
    }

    
    div {
        text-align: center;
    }
    
    li {
        color: white;
        list-style-type: '\00A0';
        list-style-position: inside;
        columns: 2;
    }







